.item {
  display: flex;
  gap: 10px;
  background: #fcfcfc;
  border-radius: 5px;
  height: 50px;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
  font-size: 16px;
  position: relative;
  div {
    padding: 10px;
  }

  .content{
    width: 70%;
  }
  .otherInfo{
    font-size: 12px;
    display: flex;
    gap: 5px;
  }

  .beforeToday{
    color: #ff0000;
  }

  .lastElement{
    margin-left: auto;
    margin-right: 10px;
  }

}
