.siderContainer {
  :global {
    .ant-layout-sider-children {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
    .ant-input-search{
      padding: 0 5px;
    }
  }

  .avatar{
    display: flex;
    color: #000;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
  }
}
