.container {
  padding: 24px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #d4f1ef;
  gap: 20px;

  .mainList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }

  .addTodo {
    display: flex;
    gap: 5px
  }

  .item {
    display: flex;
    gap: 10px;
    background: #fcfcfc;

    div {
      padding: 10px;
    }

  }
}
